<!--
1. Wake up early in the morning - You must be thinking ki subah jaldi uthane ka humari dimag se kya connection. Par iska connection hai. Jab aapki morning achchhi hoti tab aapka din achcha hota, din achchha toh mahina aur mahina achchha toh saal achchha aur aapki life achchhi. Subah uth kar meditation krein, ya walk pe jaaye, ya gardening krein, ya kuchh bhi aisa kaam karein jisse aapko lage ki aapko khushi ho rahi ho ya aapko ek alag si khushi ka ehsaas ho rha ho. Fir apne din ki planning krein kyuki plan krke karne se saare kaam ho jate hai. Late se uthne se aapka mind bas yeh sochta hai ki late ho gya, late ho gya. Na aap apne baare mein soch sakte hai tab na usss khubsurat din ke baare mein. Try krke dekhein yeh aapko farak zarurat mehsus krenge. 

2. Meditation - You should meditate daily. Because when you meditate you try to control your breath or try to focus on a point. 
Breath control karna Aapko shant hone mein, Aapke dimag ko shant rakhne mein Kaafi help karta hai. Jab aaap shant hote hai toh ek alag se sukoon feel hota hai aur life ko dekhne ka alag nazariya bnate hai. Dusri baat jab aap meditation karte hai toh aap apne dhyan bas ek hi chiz mein concentrate karte hai aur yeh aapko akagra bnata hai, aapki memory power ko increase krta hai aur aap pahele se behtar ab chizon ko soch aur samjh sakte hai. Agar aapko humari baat nahi manni toh khud try krke dekh lein 10/15 min 1 mahina khud ko challenge dein aap khud isss baat ko manne lag jayenge. 

3. Exercise - Exercise ka humare dimag se sidha connection hai. Jab hum exercise karte hai toh hum apni body mein physical level pe change lekar aate hai aap maano ya maano humari physical condition ka humare mental condition se judaw hota hi hai. Exercise se aap healthy hote ho, aap daily ek motivation feel karte ho, ek alag si energy aati hai aapke andar. Kal jo din aapka bekar tha laziness ki wajah se woh aaj sirf subah exercise karne se fresh aur energetic feel karne lagta hai aur aapka brain bhi active ho jata hai. 

4. Journal - Write a journal daily. What you did today, or something good that you saw today, or something new that you've learnt today or anything. Bas daily journal likhna na bhulein. Jab aap yeh kaam daily basis pe karte hai toh aap routine mainten kar rahe hota hai aur daily khud ko analys kar rahe hote hai. Issse aapko pta chalta hai ki apni zindagi ke har din mein aapne kya sikha, kya kya galatiya ki, aage kya sahi karna hai, kya nahi karna hai. Dusra jab aap apni dairy mein achchhi baatein likhte hai toh aapko yeh feel hota hai aapke paas kitni saari blessings hai aur aap gratitude karte hai the more gratitude that more you attract. 

5. Read books or listen to a audio book - Books are very important part in our life. Book humein aisi aisi chizein sikhati hai jo humne socha b nahi hota hai. Har baar har book se kuchh nya hi sikhte hai hum. Book mein kisi ne apna experience share kiya hota hai toh koi research koi future ka sapne dikhata hai toh koi koi sapno ki duniya bna usme kho jata hai. Aap apne intrest ke hisab se koi b book dhundhe aur padhna shuru krein. Jab aap padhenge tab aap kuchh naya sikhenge, life ko ek naye perspective se dekh payenge, motivate bhi hote rahenge. 

6. Talk to your friends on regular basis - School aur college ke din sabko bahut achchhe lagte hai. Kabhi socha hai kyu? Kyuki tab zimmedariyan nahi thi aur agar thi bhi toh unhe humare saath mil ke uthane wale humare dost hote the. Koi b problem ho unse share karte the, dinbhar unke samay bita bas khush rahte the. Apni life mein busy hone ke baad log yeh chhor dete hai par aap aisa na krein apne dosto se baat krne se aapko yeh pta chalta hai ki aapke paas life mein kitne achchhe log hai, aap kitne lucky hai jo log aapki itni care karte hai, apni problem unse share kar aap akele usss bojh ke tale akele dabne se bach jate hai. Ek dost Aapko hasta hai, rulata hai, preshan karta hai, kisi apne ke aapke life mein hone ka ehsaas dilata hai aur health aur Happy Life ke liye isse jyada kya chahiye? 

7. Spend time with your family - Aap kitne bhi busy kyu na rahein apne gharwalo ke liye time humesha nikale. Jab aap apne gharwalo ke saath baithkar koi game khelte hai ya bas yuhi batein bhi karte hai toh usss time apke dimag mein khushi ki ek alag laher hoti hai jo aapko mentally fit rakhne ka kaam karti hai. Apne apno ke saath hona humesha hi sabse achchha pal hota hai humari life ka. Kabhi unke saath picnic par jayein ya kabhi kahin vacation par. Unse jitna ho sake utna pyar krein, jitna pyar karenge utna lout kr aayega aur aap payenge ki fir aap iss duniyake sabse khush naseeb insan hai. 

8. Positivity - always try to keep a positive attitude fir everything. Jabhi bhi kuchh hota hai hum bura hi sochne lagte hai usko lekar par har sikke ke do pahlu hote hai toh ab se jabhi bhi kuchh ho usme negativity ke saath - saath positivity bhi rakhe. Kuchh bura hoga toh aapko kuchh sikh dekar jayega woh, aur jaise odd ke baad even Number aata hai waise hi dukh ke baad sukh bhi aata hai toh dukh ke baad aane wale uss sukh ke dekhien aur hamesha positive approach rakhein. 

9. Hobby - Hum sab ki koi na koi hobby zarur hoti. Jise kabhi hum ignore kar dete h ya busy hone ke karan chhor dete hai. Par agr hum issse daily basis pe ya weekly basis pe bhi krenge toh yeh humare mental health ke liye bahut achchha hota hai. Aapko cooking krna pasand hai toh woh karein, dance, drawing, watching New TV shows jo pasand ho karein par apni hobby ko kabhi na bhoolein. Woh aapko ek fresh energy hi dekar jayegi har baar. 

10. Spend time with yourself - Last and the most important advice for you. It's true that nobody is going to live with you forever. Jo hamesha aapke saath rahega woh khud aap hai. Isly apne aap ko janne mein bhi time lagaiye. Kabhi khud ke saath coffee date pe jayein ya movie dekhein. Sunset ke time par ya raat mein taaro ke niche baith kabhi khud se baat krein. Khud ki har kamzori aur khubhi ka pta lagaye kyuki jab aap khud ko achchhe se janenge tabhi har situation mein khud sambhal payenge aur khush rahenge. Har problem ka solution hai Aapko andar isly khud ko treat dein, kabhi kabhi surprise gift, kabhi koi vacation aur khud ko itna jaan lein ki fir kisi ke kuchh kehne se aapko farak hi na pade kyuki aapse jyada achchhe se aapko koi nahi janta.
-->

<html>
	<head> 
		<title>Mental Health Awarness</title>
        <link rel="stylesheet" href="styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->
		<div id="navbar">
			<ul>
                <li class="button"><a href="index.html"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</a></li>
                <li class="button"><a href="articles.html"><i class="fa fa-file-text"></i> Articles</a></li>
                <li class="button"><a href="stories.html"><i class="fa fa-align-left"></i> Stories</a></li>
                <li class="button"><a href="counselor.html"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</a></li>
                <li class="button">FAQs</li>
            </ul>
        </div>
        
        <div id="main" class="block">
            <div class="extra2">
                <div class="heading">
                    <div >Tips To Lead A Mentally Healthy Life</div>
                </div><br><br><br>
                <div class="content-box">
                    <ul>
                        <li><b>Wake up early in the morning - </b> You must be thinking that what's the connection between waking up early and our mind! But when your morning is good then your whole day would be good. When you wake up early, you have time time to admire the beauty of nature and the surroundings which would provide you mental peace. And if you wake up late then your whole day would be hactic and you might not be able to enjoy those little things of life.</li><br>
                    
                        <li><b>Meditation - </b> You should meditate daily because when you meditate you try to control your breath or try to focus on a point, which . </li><br>
                        
                        <li><b>Exercise - </b> Execises are essential in maintaining good mental health. It boosts the chemicals in your brain that help put you in a good mood.<br><br>Exercising can help eleminate low mood, anxiety, stress and feeling tired and lazy. It makes you feel energetic and active.</li><br>
                        
                        <li><b>Journal - </b> Write a journal daily. What you did today, or something good that you saw today, or something new that you've learnt today or anything, just don't forget to write it! When you start writing soon you will realise that there is alteast one good thing happens everyday. You will start observing that how blessed you are and start feeling gratitude towards life. </li><br>
                        
                        <li><b>Read books or listen to a audio book -</b> Books are very important part in our life. Books can take you to the world of imagination.Reading fiction can allow you to temporarily escape your own world and become swept up in the imagined experiences of the characters. And nonfiction self-help books can teach you strategies that may help you manage symptoms.</li>
                        
                        <li><b>Talk about your feelings -</b> Talking about your feelings isn’t a sign of weakness. It’s part of taking charge of your wellbeing and doing what you can to stay healthy.<br>Talking can be a way to cope with a problem you’ve been carrying around in your head for a while. Just being listened to can help you feel supported and less alone.<br>If it feels awkward at first, give it time. Make talking about your feelings something that you do.</li>
                        
                        <li><b>Spend time with your freineds and family -</b> <i>‘Friends are really important… We help each other whenever we can, so it’s a two-way street, and supporting them uplifts me.’</i><br>There’s nothing better than catching up with someone face to face, but that’s not always possible. You can also give them a call, drop them a note, or chat to them online instead. Keep the lines of communication open: it’s good for you!<br>Caring for others is often an important part of keeping up relationships with people close to you. It can even bring you closer together.</li>
                        
                        <li><b>Hobby -</b> What do you love doing? What activities can you lose yourself in? What did you love doing in the past?<br>Enjoying yourself can help beat stress. Doing an activity you enjoy probably means you’re good at it, and achieving something boosts your self-esteem</li>
                        
                        <li><b>Accept who you are -</b> We’re all different. It’s much healthier to accept that you’re unique than to wish you were more like someone else. Feeling good about yourself boosts your confidence to learn new skills, visit new places and make new friends. Good self-esteem helps you cope when life takes a difficult turn.</li>
                    </ul>
                </div><br>
            </div>
        </div>
        
        <div class="quote">
            <p align="center">"Celebrate yourself everyday."</p>
        </div>

        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O competition 2021</p>
        </div>
    </body>
</html>
